<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="gbk" />
    <meta name="data-spm" content="a2604" />
    <title>服装首页</title>
    <meta name="description" content="阿里巴巴服装服饰批发频道提供服装、服饰批发等，批发采购服饰、服装就上阿里巴巴服装服饰批发频道。" />
    <meta name="keywords" content="服装、供应商、服装批发、服装供应商、服装小额批发、服装批发" />
    <link type="image/x-icon" href="http://img.china.alibaba.com/favicon.ico" rel="shortcut icon" />

    <script src="http://style.c.aliimg.com/fdevlib/js/lofty/port/lofty.js"  data-sc-pos="top" ></script>
    <script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js" data-sc-pos="top"></script>
    <script src="http://style.c.aliimg.com/fdevlib/js/fdev-v4/core/fdev-min.js"  data-sc-pos="top" ></script>

    <script src="http://style.c.aliimg.com/sys/js/trace/aliclick-min.js"  data-sc-pos="top" ></script>
    <link rel="stylesheet" href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css"  data-sc-pos="top" />

    <link rel="stylesheet" href="cascade-select.css"/>



    <base target="_blank" />
    <style type="text/css">
    .content .grid{
        width: 1190px;
        margin: 0 auto;
    }

    </style>

</head>
<body data-spm="16860">
<div class="doc mod-spm" id="doc" data-spm="882479637">

<div class="content" id="content">


<div class="layout-col fd-clr" style="background-color: #eff2f9;">
<div class="grid">

    <div class="cascade-select tao-cascade-select ms-yh" data-limit-ance-id="">
        <div class="selected-items fd-clr">
            <label class="txt">已选择：</label>
            <ul class="fd-clr">
                <!--<li data-cascade-item-id="1.1.1">
                    <span>候选条目/候选条目1</span>
                    <a href="#" title="删除" class=".cascade-delete"></a>
                </li>
                <li data-cascade-item-id="1.1.3">
                    <span>候选条目/候选条目1</span>
                    <a href="#" title="删除" class=".cascade-delete"></a>
                </li>-->
            </ul>
        </div>
        <div class="cascade-select-area">

            <div class="cascade-level-wrap">
                <!--level 1-->
                <div class="fd-clr cascade-level">
                    <div class="inner-wrap">
                        <ul class="fd-clr">
                            <li data-cascade-item-id="1" class="cascade-has-sub cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="2" class="cascade-has-sub cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="3" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="4" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="5" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="6" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="7" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="8" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="9" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="10" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="11" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="12" class="cascade-disabled">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>

                        </ul>
                    </div>
                </div>

                <!--level 2-->
                <div class="fd-clr cascade-level">
                    <div class="inner-wrap">
                        <ul class="fd-clr" data-cascade-parent-id="1">
                            <li data-cascade-item-id="1.1"  class="cascade-has-sub">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.2">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.3">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.4">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.5">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.6">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目1</span>
                            </li>
                            <li data-cascade-item-id="1.7">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.8">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.9">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.10">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.11">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.12">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>

                        </ul>
                        <ul class="fd-clr" data-cascade-parent-id="2">
                            <li data-cascade-item-id="2.1">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.2">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.3">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.4">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.5">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.6">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.7">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.8">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目2</span>
                            </li>
                            <li data-cascade-item-id="2.9">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="2.10">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="2.11">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="2.12">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>

                        </ul>

                    </div>
                </div>

                <!--level 3-->
                <div class="fd-clr cascade-level">
                    <div class="inner-wrap">
                        <ul class="fd-clr" data-cascade-parent-id="1.1">
                            <li data-cascade-item-id="1.1.1" class="selected">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.2">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.3" class="selected">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.4">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.5">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.6">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.7">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.8">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.9">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.10">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.11">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>
                            <li data-cascade-item-id="1.1.12">
                                <span class="check-icon"></span>
                                <span class="txt">候选条目</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
</div>

</div>

</div>

<script src="cascade-select.js"></script>
<script src="main.js"></script>
</body>
</html>