<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="gbk" />
    <meta name="data-spm" content="a2604" />
    <title>内衣首页</title>
    <meta name="description" content="阿里巴巴服装服饰批发频道提供服装、服饰批发等，批发采购服饰、服装就上阿里巴巴服装服饰批发频道。" />
    <meta name="keywords" content="服装、供应商、服装批发、服装供应商、服装小额批发、服装批发" />
    <link type="image/x-icon" href="http://img.china.alibaba.com/favicon.ico" rel="shortcut icon" />

    <script src="http://style.c.aliimg.com/fdevlib/js/lofty/port/lofty.js"  data-sc-pos="top" ></script>
    <script src="http://style.c.aliimg.com/fdevlib/js/gallery/jquery/jquery-latest.js" data-sc-pos="top"></script>
    <script src="http://style.c.aliimg.com/fdevlib/js/fdev-v4/core/fdev-min.js"  data-sc-pos="top" ></script>

    <script src="http://style.c.aliimg.com/sys/js/trace/aliclick-min.js"  data-sc-pos="top" ></script>

    <link rel="stylesheet" href="http://style.c.aliimg.com/fdevlib/css/lofty/port/lofty.css"  data-sc-pos="top" />


    <base target="_blank" />
    <style type="text/css">
    .content .grid{
        width: 1190px;
        margin: 0 auto;
    }

    </style>
    <script>
        define(['util/datalazyload/2.0','jquery'], function(Datalazyload,jq){
            jq(function(){
                var lazy = new Datalazyload({
                    imgSrcName:"data-lazyload-src"
                });
            });

        });
    </script>
</head>
<body data-spm="16860">
<div class="doc mod-spm" id="doc" data-spm="882479637">

<div class="content" id="content">

<div class="layout-col fd-clr">
    <!--mod-banner-vidio start-->
    <link rel="stylesheet" href="http://style.c.aliimg.com/app/wholesale/css/guide/page/chao-album/mod-banner-video.css"/>
    <div class="mod-banner-video-201501071054">
        <div class="w1190 ms-yh">

            <div class="link-wrap">
                <a href="#" target="_blank"></a>
                <a href="#" target="_blank"></a>
            </div>

            <div class="video-wrap">
                <div class="video-tabs" >
                    <div class="overflowContainer">

                        <ul class="fx-tab-content fd-clr">
                            <li class="fx-tab-panel">
                                <embed type="application/x-shockwave-flash" src="http://cloud.video.taobao.com//play/u/2012108971/p/2/e/1/t/1/11900140.swf" width="562" height="348"  quality="high" wmode="opaque" allowfullscreen="true" menu="false" flashvars="MMplayerType=PlugIn" />
                            </li>
                            <li class="fx-tab-panel">
                                <embed type="application/x-shockwave-flash" src="http://cloud.video.taobao.com//play/u/2012108971/p/2/e/1/t/1/11900140.swf" width="562" height="348"  quality="high" wmode="opaque" allowfullscreen="true" menu="false" flashvars="MMplayerType=PlugIn" />
                            </li>
                            <li class="fx-tab-panel">
                                <embed type="application/x-shockwave-flash" src="http://cloud.video.taobao.com//play/u/2012108971/p/2/e/1/t/1/11900140.swf" width="562" height="348"  quality="high" wmode="opaque" allowfullscreen="true" menu="false" flashvars="MMplayerType=PlugIn" />
                            </li>
                        </ul>

                        <ul class="fx-tab-nav fd-clr">

                            <li>
                                <div class="thum">
                                    <img src="http://i00.c.aliimg.com/cms/upload/other/lazyload.png" data-lazyload-src="http://img.china.alibaba.com/cms/upload/2015/430/132/2231034_2029714286.jpg" />
                                    <div class="mask"></div>
                                    <div class="play-btn"></div>
                                </div>
                                <div class="info">
                                    <h3>尚蔓SHANGMAN</h3>
                                    <p>英伦高街</p>
                                    <a href="#" target="_blank">立即查看</a>
                                </div>
                                <div class="hover-intr">
                                    尚蔓本系列色彩采用2015春夏流行吸睛的冷色调火焰色系和年轻的彩色豹纹撞色系。跳跃的视觉感，让春夏时光充满欢乐
                                </div>
                            </li>
                            <li>
                                <div class="thum">
                                    <img src="http://i00.c.aliimg.com/cms/upload/other/lazyload.png" data-lazyload-src="http://img.china.alibaba.com/cms/upload/2015/430/132/2231034_2029714286.jpg" />
                                    <div class="mask"></div>
                                    <div class="play-btn"></div>
                                </div>
                                <div class="info">
                                    <h3>尚蔓SHANGMAN</h3>
                                    <p>英伦高街</p>
                                    <a href="#" target="_blank">立即查看</a>
                                </div>
                                <div class="hover-intr">
                                    尚蔓本系列色彩采用2015春夏流行吸睛的冷色调火焰色系和年轻的彩色豹纹撞色系。跳跃的视觉感，让春夏时光充满欢乐
                                </div>
                            </li>
                            <li class="last">
                                <div class="thum">
                                    <img src="http://i00.c.aliimg.com/cms/upload/other/lazyload.png" data-lazyload-src="http://img.china.alibaba.com/cms/upload/2015/430/132/2231034_2029714286.jpg" />
                                    <div class="mask"></div>
                                    <div class="play-btn"></div>
                                </div>
                                <div class="info">
                                    <h3>尚蔓SHANGMAN</h3>
                                    <p>英伦高街</p>
                                    <a href="#" target="_blank">立即查看</a>
                                </div>
                                <div class="hover-intr">
                                    尚蔓本系列色彩采用2015春夏流行吸睛的冷色调火焰色系和年轻的彩色豹纹撞色系。跳跃的视觉感，让春夏时光充满欢乐
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="http://style.c.aliimg.com/app/wholesale/js/guide/page/chao-album/mod-banner-video.js"></script>
    <!--mod-banner-vidio end-->



    <!--mod-cover-flow start-->
    <link rel="stylesheet" href="http://style.c.aliimg.com/app/wholesale/css/guide/page/chao-album/mod-cover-flow.css"/>
    <div class="mod-cover-flow">
        <div class="content">
            <div class="tabs">
                <ul class="item-container">
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                    <li class="item">
                        <img src="http://img.china.alibaba.com/cms/upload/2015/435/942/2249534_81076344.png" alt=""/>
                        <div class="mask"></div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <script src="mod-cover-flow.js"></script>
    <!--mod-cover-flow end-->



</div>

<div class="layout-col fd-clr">
<div class="grid">


</div>
</div>

</div>

</div>



</body>
</html>